VITE_NODE_ENV=development
VITE_API_URL=https://gawb-api.idafh.com/

VITE_PORT=3003

VITE_FIREBASE_API_KEY=AIzaSyBW2KxDuLgUyek3LTqTJ29s9-hU4D2Y8lA
VITE_FIREBASE_AUTH_DOMAIN=pushnotifications-565d2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pushnotifications-565d2
VITE_FIREBASE_STORAGE_BUCKET=pushnotifications-565d2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=779885201511
VITE_FIREBASE_APP_ID=1:779885201511
VITE_FIREBASE_MEASUREMENT_ID=G-CPCBYBE4KY

