VITE_NODE_ENV=development
VITE_API_URL=https://gawb-api.idafh.com/

VITE_PORT=3003

VITE_FIREBASE_API_KEY=AIzaSyCvKmdq6XK_CfYswLK-VP_2xwYUXQ21Ef0
VITE_FIREBASE_AUTH_DOMAIN=notficationpusher-dashbord.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=notficationpusher-dashbord
VITE_FIREBASE_STORAGE_BUCKET=notficationpusher-dashbord.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1085767033611
VITE_FIREBASE_APP_ID=1:1085767033611:web:f219ffc589c249de6d380e
VITE_FIREBASE_MEASUREMENT_ID=G-JFZNV478WB
VITE_FIREBASE_VAPID_KEY=BM7tUrv64vNIX3sY0M-eaLDSL7NF6EtcPlX3RviqunH3SUiZwBh-PQqNZXzQeFIAE0DeLWKehg86nZHPK6W1Eg0	
