VITE_NODE_ENV=development
VITE_API_URL=https://gawb-api.idafh.com/

VITE_PORT=3003

VITE_FIREBASE_API_KEY=AIzaSyBW2KxDuLgUyek3LTqTJ29s9-hU4D2Y8lA
VITE_FIREBASE_AUTH_DOMAIN=pushnotifications-565d2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pushnotifications-565d2
VITE_FIREBASE_STORAGE_BUCKET=pushnotifications-565d2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=779885201511
VITE_FIREBASE_APP_ID=1:779885201511:web:ea9459e59da82de0f4acc2
VITE_FIREBASE_MEASUREMENT_ID=G-CPCBYBE4KY
VITE_FIREBASE_VAPID_KEY=BNNXledrqYYwNjV4_Ob-GxLPrmnv1ik53BfGqoG3pTXJyM1NyZnMAt1M-LqOWPLlcBDORhFmkFMyOKr7dgNUhmY
